#lock {
  width:40%;
  margin: 1.5em auto 4em auto;
  display:block;
}

#fb {
  background:#3B5998 14px 6px;
  background-size: 47px;
  color:black;
}

#google {
  border: #95989A 1px solid ;
  background: #fff 25px;
  background-size: 25px;
  color:black;
}

#email {
  background: #ECECEC 25px;
  background-size: 25px;
  color: black;
}

@media (max-width: 600px) {
  #page {
    padding:1em;
  }
  #toolbar {
    width:90%;
    margin-left: -45%;
  }
  #fb {
    background:#3B5998;
  }

  #google {
    background: #fff;
  }

  #email {
    background: #ECECEC;
  }
}
